$map-border-radius: $base-border-radius * 2;

.map-tooltip {
  position: relative;
  z-index: z('ism-map-tooltip');

  background: $white;
  border: $dark-border-style;
  border-radius: $map-border-radius;
  box-shadow: $box-shadow-style;

  :after {
    position: absolute;

    display: inline;
    width: 100%;

    font-size: 10px;
    line-height: 1;
    color: $tooltip-body-color;

    pointer-events: none;
  }

  &__ticket-stub {
    width: 300px;
  }
}
