// apply this to the body tag
.page {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  color: $brand-gray;
  background-color: $white;
}

// use wrapper to set background color for a particular section of the page
.page__wrapper {
  clear: both;
  background-color: $brand-gray4;
}

.page__wrapper-footer {
  clear: both;
  background-color: $white;
}

// use frame to set max-width and other structural styling here
.page__frame {
  @include clearfix();

  max-width: $bp-xl;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

// use content to set default font size for text
.page__content {
  @include clearfix();
  @include responsive-font('md');
}
