.payment {

  &__radio-input {
    display: none;
  }

  &__radio-label {
    @include responsive-font('md');

    display: block;
    padding: $module-padding-lg;

    @include breakpoint($max: $bp-md) {
      padding: 15px 8px;
    }
  }

  &__label-desc {
    display: block;
    margin: 0;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__issuer-name {
    @include hide-text;

    display: inline-block;
    height: 0;
  }

  &__type,
  &__type-icon {
    display: inline-block;
    width: 30px;
  }

  &__type {
    position: relative;
  }

  &__type-icon {
    position: absolute;
    top: -4px;

    height: 30px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
  }

  &__icon-visa {
    background-image: url(map-get($svgs, 'icon-visa'));
  }

  &__icon-mc {
    background-image: url(map-get($svgs, 'icon-mc'));
  }

  &__icon-discover {
    background-image: url(map-get($svgs, 'icon-discover'));
  }

  &__icon-amex {
    background-image: url(map-get($svgs, 'icon-amex'));
  }

  &__last-digits {
    margin-left: 0.5em;

    &:before {
      margin-right: 0.5em;

      content: '\2022\2022\2022\2022';
    }
  }

  &__expiration {
    margin-left: 40px;
  }
}
